interactions:
- request:
    body: |
      {"layout_type":"free","title":"Test-Get_Dashboard_Reports_for_a_Dashboard_returns_Unprocessable_Entity_response-1661283668 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"layout":{"height":10,"width":10,"x":10,"y":10}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"8rf-36z-6hn","title":"Test-Get_Dashboard_Reports_for_a_Dashboard_returns_Unprocessable_Entity_response-1661283668
      with Profile Metrics Query","url":"/dashboard/8rf-36z-6hn/test-getdashboardreportsforadashboardreturnsunprocessableentityresponse-16612836","created_at":"2022-08-23T19:41:08.912666+00:00","modified_at":"2022-08-23T19:41:08.912666+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"layout":{"y":10,"width":10,"x":10,"height":10},"id":1472097727433918}],"layout_type":"free"}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: ''
    form: {}
    headers:
    method: GET
    url: https://api.datadoghq.com/api/v2/dashboards/8rf-36z-6hn/reports
  response:
    body: '{"errors":["Screenboards (Dashboards with a layout_type=free) are not currently
      supported by the reporting feature. If you would like to schedule reports for
      this screenboard, please clone this dashboard as a timeboard or grid by picking
      a new layout via the Datadog app and configure reports on the new dashboard"]}

      '
    code: 422
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/8rf-36z-6hn
  response:
    body: '{"deleted_dashboard_id":"8rf-36z-6hn"}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
