interactions:
- request:
    body: |
      {"layout_type":"ordered","title":"Test-Create_a_new_Dashboard_Report_returns_Created_response-1661283659 with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v1/dashboard
  response:
    body: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"efe-z4w-sru","title":"Test-Create_a_new_Dashboard_Report_returns_Created_response-1661283659
      with Profile Metrics Query","url":"/dashboard/efe-z4w-sru/test-createanewdashboardreportreturnscreatedresponse-1661283659-with-profile-met","created_at":"2022-08-23T19:41:00.071253+00:00","modified_at":"2022-08-23T19:41:00.071253+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":1367688197515855}],"layout_type":"ordered"}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
- request:
    body: |
      {"data":{"attributes":{"description":"This report summarizes the recent errors, latency, and uptime of our Web Application Backend.","destinations":{"email":{"recipient_addresses":["jane.doe@example.com"]}},"schedule":{"active":true,"frequency":"1d","repeat_at":"13:30","repeat_on_day_of_month":null,"repeat_on_day_of_week":null,"timezone":"America/New_York"},"timeframe":"1w","title":"Summary of recent stability and performance for Web Application Backend"},"type":"dashboard_reports"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    method: POST
    url: https://api.datadoghq.com/api/v2/dashboards/efe-z4w-sru/reports
  response:
    body: '{"data":{"relationships":{"dashboard":{"data":{"type":"dashboards","id":"efe-z4w-sru"}}},"attributes":{"description":"This
      report summarizes the recent errors, latency, and uptime of our Web Application
      Backend.","schedule":{"repeat_on_day_of_week":null,"repeat_at":"13:30","frequency":"1d","timezone":"America/New_York","active":true,"repeat_on_day_of_month":null},"created_at":"2022-08-23T19:41:00.667816+00:00","title":"Summary
      of recent stability and performance for Web Application Backend","modified_at":null,"template_variables":null,"timeframe":"1w","destinations":{"email":{"recipient_addresses":["jane.doe@example.com"]}}},"type":"dashboard_reports","id":"842886fe-231b-11ed-b38f-da7ad0900002","links":{"self":"/api/v2/dashboards/efe-z4w-sru/reports/842886fe-231b-11ed-b38f-da7ad0900002"}},"links":{"self":"/api/v2/dashboards/efe-z4w-sru/reports/842886fe-231b-11ed-b38f-da7ad0900002"}}

      '
    code: 201
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 201 Created
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v2/dashboards/efe-z4w-sru/reports/842886fe-231b-11ed-b38f-da7ad0900002
  response:
    body: ''
    code: 204
    duration: ''
    headers: {}
    status: 204 No Content
- request:
    body: ''
    form: {}
    headers:
    method: DELETE
    url: https://api.datadoghq.com/api/v1/dashboard/efe-z4w-sru
  response:
    body: '{"deleted_dashboard_id":"efe-z4w-sru"}

      '
    code: 200
    duration: ''
    headers:
      Content-Type:
      - application/json
    status: 200 OK
version: 1
